<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Fixed bottom</a>
    <p class="navbar-text pull-left">© 2019 - SoftUni Articles
        <a href="http://tinyurl.com/tbvalid" target="_blank"></a>
    </p>

    <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
        <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a>
</nav>